@using Streamy.Core.Models
@model List<SongModel>

@{
    ViewData["Title"] = "Home Page";
}

<section class="content">
    <div class="container-fluid">
        <h4 class="card-title">Songs</h4>
        <div class="row ">
            @foreach (var song in Model)
            {
                <img class="col" src=@song.ImageUrl>
            }
        </div>
    </div>
</section>